body {
    padding: 25px;
    background-color: rgb(255, 9, 234);
    color: black;

  }
  .dark-mode {
    background-color: black;
    color: white;
  }
  .light-mode {
    background-color: white;
    color: black;
  }