body{
background-color: lightblue;
}
.club-name{
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
div.event-name{
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
div.loc{
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
div.date{
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
div.time{
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

